*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

  a {
    color:#000000 ;
    text-decoration: none;
    background-color: transparent;
}

.btn-outline-primary:hover {
    color: rgb(255, 255, 255);
    background-color: #000000;
}
.bg-image{
    min-height: 77vh;
    width: 100%;
    background-image: url("../image/library.jpg");
    background-size: cover;
    

}

.border-white{
    background-color: rgba(255, 255, 255, 0.61);
}
#navbarNav{
    font-size: 30px;
}

/*for login*/

.titif{
    min-height: 85vh;
    background:rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 12px 12px 22px ;
}
.login img{
    object-fit: cover;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.login h1{
    font-size: 4em;
    font-weight: 700;
}
.inp{
    height: 50px;
    width: 80%;
    border: none;
    outline:none;
    border-radius: 60px;
    box-shadow: -10px 2px 26px -9px rgba(0,0,0,0.75);
-webkit-box-shadow: -10px 2px 26px -9px rgba(0,0,0,0.75);
-moz-box-shadow: -10px 2px 26px -9px rgba(0,0,0,0.75);
}
.btn1{
    height: 50px;
    width: 50%;
    border: none;
    outline:none;
    border-radius: 60px;
    font-weight: 600;
    background: #41BD8B;
    color: white;
}
.btn1:hover{
    background: #3ca87d;
   
}

.fa-facebook{
    font-size: 2.5rem;
    color: rgb(2, 2, 236);
}
.fa-google-plus{
    font-size: 2.5rem;
    color: rgb(252, 36, 36);
}

/* for admin dashboard */
:root {
    --main-bg-color: #009d63;
    --main-text-color: #009d63;
    --second-text-color: #bbbec5;
    --second-bg-color: #c1efde;
  }
  
  .primary-text {
    color: var(--main-text-color);
  }
  
  .second-text {
    color: var(--second-text-color);
  }
  
  .primary-bg {
    background-color: var(--main-bg-color);
  }
  
  .secondary-bg {
    background-color: var(--second-bg-color);
  }
  
  .rounded-full {
    border-radius: 100%;
  }
  
  #wrapper {
    height: 100vh;
    overflow-x: hidden;
    background-image: linear-gradient(
      to right,
      #baf3d7,
      #c2f5de,
      #cbf7e4,
      #d4f8ea,
      #ddfaef
    );
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
  
/* page contact*/
.hight {
  height: 76vh;
}



/* page about us*/

.sectio{
  width: 100%;
  min-height: 100vh;
  background: #41BD8B;
}
.conttain{
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;
  color: white;
}
.content-section{
  float: left;
  width: 55%;
}
.image-section{
  float: right;
  width: 40%;
}
.image-section img{
  width: 100%;
  height: auto;
}
.content-section title{
  text-transform: uppercase;
  font-size: 30px;
}
.content-section .content h3{
margin-top: 20px;
font-size: 24px;
color: rgb(0, 0, 0);
}
.content-section .content p{
  margin-top: 15px;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.5;
}
.content-section .content .button{
  margin-top: 30px;
  
}
.content-section .content .button a{
background-color: rgb(255, 255, 255);
border-radius: 30px;
padding: 12px 40px;
text-decoration: none;
color: #41BD8B;
font-size: 30px;
letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
  background-color: #009d63;
  color: whitesmoke;
}
.content-section .sociel{
margin-top: 35px;
}
.content-section .sociel i{
  padding: 0px 10px;
}
.fa-twitter{
  color: #32eefc;
  font-size: 2.5rem;
}
.fa-facebook-f{
  color: #0300c9;
  font-size: 2.5rem;
}
.insta{
  color: #e7434ce8;
  font-size: 2.5rem;
}

@media screen and (max-width:799px) {
  .conttain{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }

  .content-section{
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }

  .image-section{
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .image-section img{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }

  .content-section title{
    text-align: center;
    font-size: 19px;
  }

  .content-section .content .button{
   text-align: center;
    
  }

  .content-section .content .button a{
   padding: 9px 30px;
    } 
.content-section .sociel{
  text-align: center;
}
}

/* new  nav*/

.test:hover{
  background: #41BD8B;
color: #ffffff;
border-radius: 5px;
}
/* .navstiki{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
} */
.newNav{
  background: rgb(230, 230, 230);
}

/* agenda*/
.body{
  margin: 0px;
  padding: 0px;
  height: 80vh;
}
.calendar{
  width: 600px;
  height: auto;
  box-sizing: border-box;
 background-color: #41BD8B;
 border-radius: 15px;
 
}
.calendar .date{
  padding: 10px;
  color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(7, minmax(25px,1fr));
  grid-gap:10px;
  box-sizing: border-box;
}
.calendar .date dev{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.calendar .date dev.day{
  font-weight: 700;
}
.day17{
  border-radius: 20px ;
  background: #ffffff;
  color: #000000;
  font-weight: 700;
  cursor: pointer;
  width: 39%;
}
.Augest{
  color: white;
}
.flich{
  color: white;
}

.event{
  background: #41BD8B;
  color:#ffffff ;
  text-decoration: none;
  
}
.event:hover{
  background: #339970;
  color:#ffffff ;
  text-decoration: none;
  
}

@media only screen and (max-width: 868PX) {
 .body{
   display: flex;
   flex-direction: column;
 }

}

/*cards*/
.cards{
  width: 100%;
  height: 220vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 0 1.5Rem
}
.titileOfReader{
  color: rgb(0, 0, 0);
}
.card_post{
  width: 90%;
  min-height: 60vh;
  max-width: 98rem;
  background-color: #41BD8B;
  padding: 3rem;
  display: flex;
  align-items: center;
  border-radius: 20px;
}
.card_img{
  min-width: 25rem;
  max-width: 25rem;
  height: 20rem;
  transform: translateX(-6rem);
  position: relative;
}
.card_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 1rem;
}
.card_date span{
  display: block;
  color: #000000;
  font-size: 1.6rem;
  font-weight: 600;
  margin: .5rem 0;
}
.nameReader{
  text-decoration-line:underline ;
}
.card_title{
  font-size: 2.5rem;
  margin: 1.5rem 0 2rem;
  text-transform: uppercase;
  color: #ffffff;
}
.card_text{
  margin-bottom: 3rem;
  font-size: 1.5rem;
  color: #000000;
}

@media only screen and (max-width: 1068PX) {
  .card_post{
    max-width: 80rem;
  }
  .card_img{
    min-width: 20rem;
    max-width: 20rem;
  }
}

@media only screen and (max-width: 828PX) {
  .card_post{
  max-width: 75rem;
  max-height: 20rem;
 padding: 2.5rem;
  }
  .card_img{
    min-width: 60%;
    max-width: 60%; 
  }
  .card_date span{
    font-size: 1rem;
  }
  .card_title{
    font-size: 1.5rem;
    margin: 0.5rem 0 2rem;
  } 
}
@media only screen and (max-width: 768PX) {
  .card_post{
    max-width: 70rem;
    max-height: 50rem;
    /* margin: 10%; */
    flex-direction: column;
  }
  .card_img{
    min-width:70%;
    max-width:70%;
    transform: translate(0, -4rem);
  }
  .card_title{
    font-size: 1rem;
    /* margin: 0.5rem 0 2rem; */
  }
  .card_text{
    /* margin-bottom: 1rem; */
    font-size: 1rem;
  }
  .card_date span{
    font-size: 0.7rem;
 
  }


}

/*books*/
.item img{
  height: 280px;
  /* object-fit: cover; */
}
.item a{
  border: solid 1px;
  padding: 10px;
  border-radius: 10px;
  background-color: #41BD8B;
  color: white;
  text-decoration: none;
}
.item a:hover{
  border: solid 1px;
  background-color: #1c6b4b;
  color: #ffffff;
  text-decoration: none;
}
.item p{
  font-size: 20PX;
}

.buy{
  font-size: large;
  font-family: sans-serif;
}

.books{
  min-height: 80vh;
  background-color: #41BD8B;
}



